
.container {
  
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
  }
  
  .todoList {
    background:#fff;
    display: flex;
    flex-direction: column;
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 20px;
    overflow: hidden;

    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  .divider {
    margin: 10px 0;
    border: none;
    border-top: 1px solid #ccc;
  }
