*{
  font-family: sans-serif;

}

body{
  background-image: url('./assets/img/backImg.png');
 
  font-weight: 500;
  
}

.blur-background {
  position: relative;
}

.blur-background::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  object-fit:cover;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-position: center top;
  background-image: url('./assets/img/backImg.png');
  filter: blur(5px); /* Adjust the blur amount as needed */
  z-index: -1;
  height: 100vh;
}
